@media (min-width:500px) {
  .enter-button {
    width: 50%;
    font-family: $primary-font;
    font-size: 12px; 
    line-height: 12px; 
    padding: 10px; 
    margin: 10px;
    @include hover-lift;
  }
}
@media (max-width:500px) {
.enter-button {
  width: auto;
  display: block;
  font-family: $primary-font;
  font-size: 12px; 
  line-height: 12px; 
  padding: 10px; 
  margin: 10px;
  border-radius: 0px; 
  font-weight: normal; 
  text-decoration: none; 
  font-style: normal; font-variant: normal; 
  text-transform: none;
  display: inline-block;
  @include hover-lift;
}
}