@media (min-width:500px) {
.front-page {
  align-items: center;
  border: 2px solid blue;
  display: block;
  justify-content: space-around;
  position: absolute;
  top: 20%;
  width: 100%;
}
.welcome-message {
  border: 2px solid black;
  // padding: 10px;
  margin: 10px;
  width: 50%;
}
.welcome-message a {
  border: 2px solid black;
  font-family: $primary-font;
  font-size: larger;
}
.input-boxes {
  align-items:center;
  border: 2px solid blue;
  display: block;
  font-family: $primary-font;
  justify-content: center;
  margin: 10px;
  width: 50%;

}
.login-input {
  margin: 10px;
  width: 50%;
}

.links {
  padding: 10px;
}
}
//mobile
@media (max-width: 500px) {
  .front-page {
    align-items: center;
    display: block;
    justify-content: space-around;
    position: absolute;
    margin: 10px;
    top: 10%;
}
  .welcome-message {
  display: block;
  float:none;
  width: auto;
}
  .input-boxes {
  display: block;
  flex-direction: column;
  font-family: $primary-font;
  height: 50%;
}
.login-input {
  display: block;
  margin: 10px;
}

}