.front-page {
  position: absolute;
  border: 2px solid blue;
  top: 20%;
  display: block;
  justify-content: space-around;
  align-items: center;
}
.welcome-message {
  width: 50%;
  padding: 10px;
  border: 2px solid black;
}
.welcome-message a {
  font-family: $primary-font;
  font-size: larger;
  border:10px solid black;
}
.input-boxes {
  font-family: $primary-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position:relative;
}
.login-input {
  margin: 10px;
  width: auto;
}

.links {
  padding: 10px;
}

//mobile
@media (max-width: 500px) {

  .front-page {
    top: 5%;
    display: block;
    justify-content: space-around;
    align-items: center;
}
  .welcome-message {
  display: block;
  width: auto;
  float:none;
}
  .input-boxes {
  height: 50%;
  font-family: $primary-font;
  display: block;
  flex-direction: column;
}
.login-input {
  display: block;
  margin: 10px;
}

}