@media (max-width: 500px) {
.profile-page {
  margin: 0%;
  padding: 0%;
  height: 100%;

  // border: 2px solid blue;

  // justify-content: center;
  flex-direction: column;
}
.profile-title {
  height: 30px;
  // width: 100%;
  // border: 2px solid black;
}
.reframe {
  height: 100px;
  width: 150px;
  overflow: hidden;
}
.reframe img {
  height: auto;
  width: 150px;
}
}

//ipad
@media (max-width: 769px ) {
  .profile-page {
  height: 100vh;
  flex-direction:column;
  width: 100%;
  margin-top: 50px;
  // border: 2px solid blue;
  justify-content: center;
}
.profile-title {
  height: 30px;
  width: 100%;
  // border: 2px solid black;
}
.reframe {
  height: 100px;
  width: 150px;
  overflow: hidden;
}
.reframe img {
  height: auto;
  width: 150px;
}

}

// desktop
@media (min-width: 770px) {

  .profile-page {
    padding: 0;
    margin-top: 50px;
    height: 100%;
    // border: 2px solid blue;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .profile-title {
    height: 30px;
    width: 100%;
    justify-content: center;
    // border: 2px solid black;
  }
  .character-display-box {
    // border: 2px solid blue;
    height: 100%;
    margin: 10px;
    display: flex;
  }
  .character-box {
    // border: 2px solid blue;
    height: 100%;
    margin: 10px;
    display: flex;
  }
  .reframe {
    height: 100px;
    width: 150px;
    overflow: hidden;
  }
  .reframe img {
    height: auto;
    width: 150px;
  }
  .aws-image-page {
    margin: 0;
    padding: 0;
    display: inline-block;
    // border: 2px solid black;
  }
}

