//mobile
@media (max-width: 500px) {
.topic-page { 
    height: 100vh;
    top: 40px;
    // border: 2px solid black; 
    position: fixed; 
    bottom: 0px;

}

}


//ipad
@media (max-width: 768px) {
  .topic-page {
    height: 100vh;
    top: 80px;
    // border: 2px solid black; 
    position: fixed; 
    bottom: 0px;
  }
  
}

//desktop
@media (min-width: 769px) {
  .topic-page {
    height: 100vh;
    top: 100px;
    // border: 2px solid black; 
    position: fixed; 
    bottom: 0px;
  }
  
}
