//mobile
.topic-page {
  height: 100vh;
  border: 2px solid black; 
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position:static;
}
.topic-section {
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 50%;
  border: 2px solid black;

}
.topic-title {
  position: absolute;

  height: 20%;
  width: 100%;
  border: 2px solid black;
}
.topic-text {
  position: relative;
  margin: 0%;
  padding: 0%;
  height: 90%;
  width: 90%;
  border: 2px solid black;

}


//ipad


//desktop
