//mobile
@media (max-width: 500px) {
.topic-page {
  // top: 30px;

  // border: 2px solid black; 

  position: fixed; 
  
  bottom: 0px;
}
.topic-section {
  display: flex;
  flex-direction: column

}
.topic-title {
  position: absolute;

  height: 20%;
  width: 100%;
  // border: 2px solid black;
}
.topic-text {
  margin: 0%;
  padding: 0%;
  height: 80%;
  width: 100%;
  // border: 2px solid black;

}
}


//ipad
@media (max-width: 768px) {
  .topic-page {
    // top: 30px;
  
    // border: 2px solid black; 
  
    position: fixed; 
    
    bottom: 0px;
  }
  .topic-section {
    display: flex;
    flex-direction: column
  
  }
  .topic-title {
    position: absolute;
  
    height: 20%;
    width: 100%;
    // border: 2px solid black;
  }
  .topic-text {
    margin: 0%;
    padding: 0%;
    height: 80%;
    width: 100%;
    // border: 2px solid black;
  
  }
  }

//desktop
@media (min-width: 769px) {
  .topic-page {
    // top: 30px;
  
    // border: 2px solid black; 
  
    position: fixed; 
    
    bottom: 0px;
  }
  .topic-section {
    display: flex;
    flex-direction: column
  
  }
  .topic-title {
    position: absolute;
  
    height: 20%;
    width: 100%;
    // border: 2px solid black;
  }
  .topic-text {
    margin: 0%;
    padding: 0%;
    height: 80%;
    width: 100%;
    // border: 2px solid black;
  
  }
}
